[
    {
        // BOT1(必須)
        "token": "INPUT_TOKEN_HERE"
        "globalchat_name": "hoge_global"
        "mariadb": "mysql://user:pass@localhost/botdb"
    },
    {
        // BOTn(オプション)
        "token": "INPUT_TOKEN_HERE"
        "mariadb": "mysql://user:pass@localhost/botdb2"
    }
]